<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>@ViewBag.Title</title>
        <meta name="description" content="Rubbez HTML Ecommerce Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&#038;subset=latin,latin-ext" rel="stylesheet" type="text/css" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet" type="text/css" media="all" />
        @Styles.Render("~/css/slick")
        <link href="/Content/css/lib/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/Content/css/lib/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        @Styles.Render("~/css/rsplugin")
        @Styles.Render("~/css/bootexpert")
        <link href="/Content/css/epsi-cache.skin.css" rel="stylesheet" type="text/css"/>
        <link href="/Content/css/epsi-theme.css" rel="stylesheet" type="text/css"/>
        <link href="/Content/css/epsi-style.css" rel="stylesheet" type="text/css"/>
        <link href="/Content/css/epsi-custom.css" rel="stylesheet" type="text/css"/>
        @Scripts.Render("~/js/modernizr")
        <!--[if lt IE 9]>
        <script src="/Content/js/lib/html5shiv.min.js"></script>
        <script src="/Content/js/lib/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="wrapper ">
            <div class="page-wrapper">
                @{Html.RenderPartial("_header");}
                <!-- Main Container -->
                <div class="main-container">
                    @RenderBody()
                </div>
                <!-- End Main Container -->
                @{Html.RenderPartial("_footer");}
            </div>
        </div>
        <div id="back-top" class="hidden-xs hidden-sm hidden-md"></div>
        <script type="text/javascript" src="/Content/js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/Content/js/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="/Content/js/lib/bootstrap.min.js"></script>
        @Scripts.Render("~/js/slick")
        <script type="text/javascript" src="/Content/lib/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="/Content/lib/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="/Content/lib/rs-plugin/rs.home.js"></script>
        <script type="text/javascript" src="/Content/lib/chosen/chosen.jquery.js"></script>
        <script type="text/javascript" src="/Content/lib/chosen/chosen.proto.min.js"></script>
        <script type="text/javascript" src="/Content/lib/rotatingtweets/jquery.cycle.all.min.js"></script>
        <script type="text/javascript" src="/Content/lib/rotatingtweets/rotating_tweet.js"></script>
        @Scripts.Render("~/js/prettyPhoto")
        <script type="text/javascript" src="/Content/lib/ntm/jquery.ntm.js"></script>
        @Scripts.Render("~/js/core")
    </body>
</html>