@model IEnumerable<epsi.Models.Article>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title">@ViewBag.cateName</h1>
<div class="blog-content-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="page-content blog-page blog-nosidebar">
                    @if (Model.Count() == 0)
                    {
                        <div class="text-center">
                            <h2>Hiện tại không có bài viết cho chuyên mục này.</h2>
                            <h2>Chúng tôi sẽ sớm cập nhập bài viết. Xin vui lòng quay trở lại sau.</h2>
                        </div>
                    }
                    @foreach (var item in Model)
                    {
                        <article class="post format-standard category-image">
                            <div class="post-thumbnail">
                                <a href="">
                                    <img src="/ImageBrowser/CropImage?path=@item.MainImage.Replace("~/content/images/","")" class="attachment-road-post-thumb" alt="@item.Title" />
                                </a>
                            </div>
                            <div class="postinfo-wrapper ">
                                <div class="post-info">
                                    <header class="entry-header">
                                        <h2 class="entry-title">
                                            <a href="#">@item.Title</a>
                                        </h2>
                                    </header>
                                    <footer class="entry-meta-small">
                                        <i class="fa fa-clock-o"></i><span>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm")</span>
                                    </footer>
                                    <div class="entry-summary">
                                        <p>@item.Description</p>
                                    </div>
                                    <a class="readmore" href="#">Xem thêm<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                       </article>
                    }

                    @if (ViewBag.TotalPage > 1)
                    {

                        <div class="pagination">
                            @if (ViewBag.PageIndex > 1)
                            {
                                <a class='page-numbers' href='@(Request.Url.AbsolutePath)?page=@(ViewBag.PageIndex - 1)'>
                                    &laquo;
                                </a>
                            }
                            @for (var i = 1; i <= ViewBag.TotalPage; i++)
                            {

                                <span class='@(ViewBag.PageIndex == i ? "page-numbers current" : "page-numbers")'><a href='@(Request.Url.AbsolutePath)?page=@i'>@i</a></span>
                            }
                            @if (ViewBag.PageIndex < ViewBag.TotalPage)
                            {
                                <a class='page-numbers' href='@(Request.Url.AbsolutePath)?page=@(ViewBag.PageIndex + 1)'>
                                    &raquo;
                                </a>
                            }
                            </div>

                         

                            }
                    
            </div>
        </div>
    </div>
</div>

