@model epsi.Models.ApplicationUser
@{
    ViewBag.Title = "Thông tin tài khoản";
}

<div class="page-content login-page">
    <div class="container">
        <article class="page type-page status-publish hentry">
            <div class="entry-content">
                <div class="phm_row hasteck_row phm_row-fluid">
                    <div class="row-container">
                        <div class="parvez_column parvez_column_container parvez_col-sm-12">
                            <div class="parvez_wrapper">
                                <div class="parvez_text_column parvez_content_element ">
                                    <div class="parvez_wrapper">
                                        <div class="bootexpert">
                                            <div class="customer_login" id="customer_login">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                                                        @using (Html.BeginForm("Update", "Manage", FormMethod.Post, new { @class = "register", role = "form" }))
                                                        {
                                                            <div class="form-fields">
                                                                <h2><i class="fa fa-lock"></i> Thông tin tài khoản</h2>
                                                                @Html.AntiForgeryToken()
                                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                                <p class="form-row form-row-wide">
                                                                    @Html.LabelFor(m => m.Email)
                                                                    @Html.TextBoxFor(m => m.Email, new { @class = "input-text", @readonly = "true" })
                                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                                </p>
                                                                <p class="form-row form-row-wide">
                                                                    @Html.LabelFor(m => m.FullName,"Họ tên")
                                                                    @Html.TextBoxFor(m => m.FullName, new { @class = "input-text" })
                                                                    @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                                                                </p>
                                                                <p class="form-row form-row-wide">
                                                                    @Html.LabelFor(m => m.PhoneNumber,"Số điện thoại")
                                                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "input-text" })
                                                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                                                </p>
                                                                <p class="form-row form-row-wide">
                                                                    @Html.LabelFor(m => m.Address,"Địa chỉ")
                                                                    @Html.TextBoxFor(m => m.Address, new { @class = "input-text" })
                                                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                                                </p>

                                                            </div>
                                                            <div class="form-action">
                                                                <p class="lost_password">
                                                                    @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { id = "changepass" })
                                                                </p>
                                                                <input type="submit" class="button btn-register" name="register" value="Chỉnh  sửa" />
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>