<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="epsi.vn">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&#038;subset=latin,latin-ext" rel="stylesheet" type="text/css" media="all" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet" type="text/css" media="all" />
    @Styles.Render("~/css/slick")
    <link href="/Content/css/lib/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/lib/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/css/rsplugin")
    @Styles.Render("~/css/bootexpert")
    <link href="/Content/css/epsi-cache.skin.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/epsi-theme.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/epsi-style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/epsi-custom.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/js/modernizr")
    <!--[if lt IE 9]>
    <script src="/Content/js/lib/html5shiv.min.js"></script>
    <script src="/Content/js/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper ">
        <div class="page-wrapper">
            @{Html.RenderPartial("_header");}
            <!-- Main Container -->
            <div class="main-container">
                @RenderBody()
            </div>
            <!-- End Main Container -->
            @{Html.RenderPartial("_footer");}
        </div>
    </div>
    <div id="back-top" class="hidden-xs hidden-sm hidden-md"></div>
    <script type="text/javascript" src="/Content/js/lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/Content/js/lib/bootstrap.min.js"></script>
    @Scripts.Render("~/js/slick")
    <script type="text/javascript" src="/Content/lib/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/Content/lib/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/Content/lib/rs-plugin/rs.home.js"></script>
    <script type="text/javascript" src="/Content/lib/chosen/chosen.jquery.js"></script>
    <script type="text/javascript" src="/Content/lib/chosen/chosen.proto.min.js"></script>
    <script type="text/javascript" src="/Content/lib/rotatingtweets/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="/Content/lib/rotatingtweets/rotating_tweet.js"></script>
    @Scripts.Render("~/js/prettyPhoto")
    <script type="text/javascript" src="/Content/lib/ntm/jquery.ntm.js"></script>
    @Scripts.Render("~/js/core")

    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.4/numeral.min.js"></script>

    <script>

        $(function () {

            function shoppingcart() {
                cart_item.html("");

                var totalprice = 0;
                Object.keys(localStorage).forEach(function (key) {
                    var itemlocal = JSON.parse(localStorage.getItem(key))
                    totalprice += itemlocal.price * itemlocal.count;
                    var sprice = numeral(itemlocal.price).format('0,0');
                    var cartappend = '<li>' +
                                                    '<a href="" class="product-image">' +
                                                        '<img alt="7" class="attachment-shop_thumbnail" src="'+itemlocal.img.replace('~','')+'"><span class="quantity">' + itemlocal.count + '</span>' +
                                                    '</a>' +
                                                    '<div class="product-details">' +
        '<a href="" class="product-name">' + itemlocal.name + '</a>' +
                                                        '<span class="quantity"><span class="amount">' + sprice + ' VNĐ</span></span>' +
                                                    '</div></li>';
                    cart_item.append(cartappend);
                })

                var stotalprice = numeral(totalprice).format('0,0');

                $("#cart-total-header").html("");
                $("#cart-total-header").html('Giỏ hàng: (<span class="cart-quantity">' + localStorage.length + '</span>)')
                $("#cart-total-price").html("");
                $("#cart-total-price").html('<span class="amount">' + stotalprice + ' VNĐ</span>');
                $("#total-price-footer").html("");
                $("#total-price-footer").html('Tổng: <span class="amount" >' + stotalprice + ' VNĐ</span>');
            }

            var listItem = [];
    var con = $('div'), storageCount = localStorage.length, li_open = '<li>'+
                                                '<a href="" class="product-image">'+
                                                    '<img alt="7" class="attachment-shop_thumbnail" src="/Content/images/furniture/product/7-185x185.jpg"><span class="quantity">1</span>'+
                                                '</a>'+
                                                '<div class="product-details">' +
    '<a href="" class="product-name">Đèn thả QPG304 (cam)</a>'+
                                                    '<span class="quantity"><span class="amount">1.472.101 VNĐ</span></span>'+
                                                '</div></li>', cart_item = $('#cart-item');

	con.find('.add_to_cart_button').on('click', function (e) {
		e.preventDefault();
		var dataproduct = $(this).closest('.add_to_cart_button');
		var item = {
		    id: dataproduct.attr('data-product-id'),
		    name: dataproduct.attr('data-product-name'),
		    price: dataproduct.attr('data-product-price'),
		    img: dataproduct.attr('data-product-img'),
		    count: 0
		}
		var itemStorage = JSON.parse(localStorage.getItem(item.id));
		var count = 0;
		if (itemStorage != null) {
		    count = JSON.parse(localStorage.getItem(item.id)).count;
		}
		count = (count == null || count == 'null') ? 0 : parseInt(count);
		var inputQty = $("#inputQty").val();
		if (inputQty != undefined) {
		    count += parseInt(inputQty);
		} else {
		    count++;

		}
		item.count = count;
		localStorage.setItem(item.id, JSON.stringify(item));

		shoppingcart();
	});


	if (storageCount) {
	    shoppingcart();
	}

});
    </script>
</body>
</html>