@model IEnumerable<epsi.Models.Menu>

<div class="nav-container">
    <div class="container">
        <div class="nav-inner clearfix">
            <div class="horizontal-menu">
                <div class="visible-large">
                    <div id="saharan_mega_main_menu" class="dropdowns_trigger-hover dropdowns_animation-anim_5">
                        <div class="menu_holder">
                            <div class="mmm_fullwidth_container"></div>
                            <nav class="menu_inner">
                                <ul>
                                    @foreach (var item in Model)
                                    {
                                        if (item.MenuId != 7)
                                        {
                                            <li class='@(Request.Url.AbsolutePath == item.Link ?  "active-menu-item" : "")'>
                                                <a href="@Url.Content(item.Link)" class="item_link ">
                                                    <span class="link_content">
                                                        <span class="link_text">@item.Text</span>
                                                    </span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="@(Request.Url.AbsolutePath.IndexOf(item.Link) !=-1 ?  "active-menu-item" : "") multicolumn_dropdown drop_to_right children-menu">
                                                <a href="@Url.Content(item.Link)" class="item_link">
                                                    <span class="link_content">
                                                        <span class="link_text">@item.Text</span>
                                                    </span>
                                                </a>
                                                @{ Html.RenderAction("MenuCategory", "Home");}
                                            </li>
                                        }
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="visible-small mobile-menu">
                    <div class="nav-container">
                        <div class="mbmenu-toggler">Menu<span class="mbmenu-icon"></span></div>
                        <nav class="mobile-menu-container">
                            <ul id="menu-horizontal-menu" class="nav-menu">
                                @foreach (var item in Model)
                                {
                                    if (item.MenuId != 7)
                                    {
                                        <li class="first">
                                            <a href="@Url.Content(item.Link)">@item.Text</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="children-menu">
                                            <a href="@Url.Content(item.Link)">@item.Text</a>
                                            @{ Html.RenderAction("MenuMobileCategory", "Home");}

                                        </li>
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Mobile Menu -->
            </div>
        </div>
    </div>
</div>